#title{
  background-color: #ff4c68;
    color: white;
    position: relative;

}
h1{
font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  font-size: 4rem;
  font-weight: 700;

}
.container-fluid{
  padding: 3% 15% 7%;

}

body{
font-family: 'Montserrat', sans-serif;
}

/* navigation bar */
.navbar{
  padding-bottom: 4.5rem;
}

.navbar-brand{
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

/* Download buttons */
.Download-btn
{
  margin: 5% 3% 5% 0;
}
.title-img{

  transform: rotate(25deg);
  position: absolute;
  width: 23%;
  right: 20%;

}
#features{
  padding: 7% 15%;
  background-color: white;
  position: relative;
}
.features-box{
text-align: center;
padding: 4%;
}
h3{
font-weight: bold;
font-size: 1.5em;
}
p{
  color: #8f8f8f;
}
.feature-icon{
  color: #ef8172;
  margin-bottom: 1rem;
}
.feature-icon:hover{
  color: #ff4c68;
}



/* testimonial  */
#testimonials{

}
h2, .cta-heading{
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 3rem;
}
.testimonial-img{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo{
  width: 15%;
  margin: 20px 20px 20px 50px;
}
.carousel-item{
  padding: 7% 15%;
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}
#pricing{
  padding: 100px;
  text-align: center;}
.pricing-col{
  padding: 3% 2%;

}
@media (max-width: 1028px)  {
  #title{
    text-align: center;

  }
.title-img{
  position: static;
  width: 70%;
transform: rotate(0);
margin-left: 60%;
}

}


#cta{
  background-color: #ff4c68;
  text-align: center;
  padding: 5% 15%;
}

.cta-heading{
color: white;

}
#footer{
  background-color: #fff;
  padding: 5% 15% 0;
  text-align: center;
}
.footi{
  padding: 1%;
}
